
<div class="w-100 row flex-center mx-0">

  <div class="col-sm-12 col-md-8 col-lg-6 p-5 bg-white rounded shadow">

    <h2 class="mb-5">Please log in:</h2>

    <form [formGroup]="loginForm" (submit)="login()">

      <div class="mb-3">
        <label for="user">User:</label>
        <ng-select id="user" formControlName="user">
          <ng-option *ngFor="let user of userService.getUsers()" [value]="user.userId">{{user.userName}} (ID: {{user.userId}})</ng-option>
        </ng-select>
        <ng-container *ngIf="loginForm.get('user')?.touched || loginForm.get('user')?.dirty">
          <div *ngIf="loginForm.get('user')?.errors?.['required']" class="text-danger">
            User is required
          </div>
        </ng-container>
      </div>

      <div class="mb-3">
        <label for="userId">User ID:</label>
        <div>
          <input id="userId" type="text" formControlName="userId" class="form-control"/>
        </div>
        <ng-container *ngIf="loginForm.get('userId')?.touched || loginForm.get('userId')?.dirty">
          <div *ngIf="loginForm.get('userId')?.errors?.['required']" class="text-danger">
            User ID is required
          </div>
        </ng-container>
      </div>

      <div class="mb-3">
        <label for="password">Password:</label>
        <div>
          <input id="password" type="password" formControlName="password" class="form-control"/>
        </div>
        <ng-container *ngIf="loginForm.get('password')?.touched || loginForm.get('password')?.dirty">
          <div *ngIf="loginForm.get('password')?.errors?.['required']" class="text-danger">
            Password is required
          </div>
        </ng-container>
      </div>

      <div class="mt-4">
        <button id="login-button" class="btn btn-primary" [disabled]="userService.isLoginProgress()">Login</button>
      </div>

      <div *ngIf="userService.isLoginProgress()" class="mt-4 d-flex align-items-center">
        Logging in... <app-spinner></app-spinner>
      </div>

      <div *ngIf="loginFailed" class="text-danger mt-4">
        The given credentials are incorrect!
      </div>

    </form>

  </div>

</div>

