
// Bootstrap variable overrides
$body-bg: #dfffd1;
$primary: #377347;
$secondary: #ebebeb;

// ng-select variable overrides
$ng-select-highlight: $primary;

// Custom variables
$header-bg: #93c29f;
$header-text: #102e17;
