
// Bootstrap variable overrides
$body-bg: #dfffd1;
$primary: #377347;
$secondary: #ebebeb;
$input-bg: white;
$input-disabled-bg: #f9f9f9;

// ng-select variable overrides
$ng-select-highlight: $primary;

// Custom variables
$header-bg: #93c29f;
$header-text: #102e17;
$header-height: 80px;
